body {
    background: url(./img/photo-1665674997432-126b376cb8e0.avif);
    background-size:cover
}

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
    max-width: 400px;
    background: rgba(255, 255, 255, 0.5);
    padding: 30px 30px 40px;
    flex-grow: 1;
    box-shadow: 2px 0px 17px rgba(0, 0, 0, 0.8);
}

.form-heading {
    font-size: 40px;
    color: #7b4e4e;
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    border-bottom: 1px solid #000;
    margin-top: 15px;
    margin-bottom: 1px;
    display: flex;
}

.form-input {
    background: transparent;
    border: 0;
    outline: 0;
    flex-grow: 1;
}

.form-submit {
    background: transparent;
    border: 1px solid rgb(3, 3, 3);
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 20px
   
}

.form-submit:hover {
    border: 1px solid rgb(43, 26, 227);
    background-color: rgb(126, 235, 233);
}

.form-login i {
    font-size: 15px;
    margin-right: 5px;
}

.invalid {
    color:red;
    border: 1px solid red;
}



