/* côt số thứ tự */
.td-stt {
  width: 1%;
  text-align: center;
  font-size: 22px;
}

/* box tính  toán tổng tiền thuế và tiền phải trả*/
.table-result {
  margin: 10px;
  width: 500px;
  height: 100px;
  margin: auto;
}

.table-result td {
  border: 1px solid black;
}

.table-result th {
  text-align: center;
  border: 1px solid black;
}

.td-sum-amount {
  width: 200px;
  text-align: center;
  font-weight: 800;
}


.box-thanh-tien {
  margin-right: 0;
  width: 400px;
}

.box-calculate {
  display: flex;
  padding: 8px 20px;
  justify-content: space-between;
  font-weight: 600;
  font-size: 15px;
}
/* tên sản phẩm */

.name-product {
  font-size: 14px;
  line-height: 32px;
  font-weight: 600;
}

/* button plus-minus */
.box-amount {
   display: flex;
   justify-content: center;;
   height: 47px;
}

/* số lượng sản phẩm */
.amount {
   font-size: 21px;
   height: 30px;
   border: 1px solid #000;
   text-align: center;
   width: 100px;
   line-height: 30px
}
/* disabled input đơn giá */
:disabled {
  cursor: auto !important;
}
