* {
  margin: 0;
  padding: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  height: 100vh;
  background: #70e1f5;
  font-family: "Roboto", sans-serif;
}

.thumbnails {
  position: absolute;
}

.single-item {
  position: absolute;
  top: 45%;
  left: 33%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 635px;
  border: solid 6px #fff;
  border-radius: 10px;
  background: #f5f5f5;
  box-shadow: 0 30px 20px -20px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.left-set,
.right-set {
  position: relative;
  width: 50%;
  height: 100%;
}
.left-set {
  float: left;
  overflow: hidden;
}
.left-set img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
}
.right-set {
  float: right;
  padding: 2rem 1rem;
  box-sizing: border-box;
}
.right-set .name,
.right-set .subname {
  font-weight: bold;
}
.right-set .name {
  font-size: 1.4rem;
  line-height: 2rem;
}
.right-set .subname {
  font-size: 0.8rem;
  line-height: 1rem;
}
.right-set .price {
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
}
.right-set .description p {
  font-size: 1rem;
  text-align: justify;
  hyphens: auto;
  margin-bottom: 0;
}
.right-set button {
  width: 100%;
  height: 2rem;
  cursor: pointer;
  background: none;
  border: solid 2px #111;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  transition: all 0.4s ease;
}
.right-set button:hover,
#buy-btn:hover {
  background: #70e1f5;
}

/* cộng trừ số lượng sản phẩm */
.box-amount {
  display: flex;
  justify-content: start;
  margin-right: 3px;
}

.box-amount button {
  height: 17px;
  font-size: 8px;
  width: 21px;
  margin: 0 1px;
}

.box-amount i {
  /* align-items: center; */
  line-height: -55px;
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
}

/* số lượng sản phẩm */
.amount,
.amount-cart {
  font-size: 9px;
  height: 17px;
  border: 1px solid #000;
  text-align: center;
  width: 36px;
  line-height: 15px;
}

.moment-images-wrapper {
  max-width: 82px;
  display: block;
  padding-bottom: 12.5px;
}

a {
  color: inherit;
  text-decoration: none;
}

.thumb-controls {
  cursor: pointer;
}

.arrow {
  width: 12px;
  height: 12px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 0;
  border-bottom: 0;
  opacity: 1;
  transform: rotate(315deg);
  cursor: default;
}

.product-images .thumb-viewport {
  position: relative;
  height: 450px;
  overflow: hidden;
}

.product-images .thumb-next {
  cursor: pointer;
}

.featured-image-wrapper {
  text-align: center;
  margin-left: 110px;
  max-height: 750px;
  max-width: 480px;
}

.featured-image-wrapper__center {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.featured-image-wrapper__center img {
  width: 100%;
  height: 435px;
  transition: all 0.3s ease-in-out;
}

.featured-image-wrapper__center img:hover {
  transform: scale(1.1);
}

.product-thumbnails-father img {
  width: 111px;
  height: 116px;
}

/* thumbnails  */
.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 500px;
  position: relative;
}
.MultiCarousel .multiCarousel-inner {
  transition: 1s ease all;
  float: left;
  /* height: 671px */
}
.MultiCarousel .multiCarousel-inner .item {
  float: left;
}
.MultiCarousel .multiCarousel-inner .item > div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background: #f1f1f1;
  color: #666;
}
.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 20px);
}
.MultiCarousel .leftLst {
  left: 0;
}
.MultiCarousel .rightLst {
  right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
  pointer-events: none;
  background: #ccc;
}

.pad15 img {
  width: 64px;
  height: 100px;
}

/* carousel  */
.box-test {
  width: 500px;
  height: 100px;
  /* background-color: yellow; */
}

.product-black,
.product-purple,
.product-gold {
  position: relative;
  font-size: 10px;
  margin: 0 5px 0 10px;
  font-weight: 600;
  border: solid 1px #000;
  height: 27px;
  width: 75px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 5px;
}

.svg-product img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 10px;
  height: 10px;
  background-color: #ff000085;
}

.border-red {
  border: solid 1px red;
  cursor: pointer;
  background-color: rgb(173, 173, 224);
}
.color-iphone:hover {
  border: solid 1px red;
  background-color: rgb(119, 119, 211);
}

#chooses-product {
  font-size: 13px;
  border: solid 1px #000;
  width: 65px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  font-weight: 500;
}
#memory,
.memory-128GB,
.memory-256GB,
.memory-512GB,
.memory-1TB,
#text-accessory {
  font-size: 14px;
  margin: 0 5px 0 10px;
  font-weight: 600;
  border: solid 1px #000;
  height: 27px;
  width: 100px;
  text-align: center;
  margin-bottom: 5px;
}

#memory {
  width: 150px;
  line-height: 27px;
}

.memory-128GB:hover,
.memory-256GB:hover,
.memory-512GB:hover,
.memory-1TB:hover {
  background-color: rgb(222, 222, 222);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

#text-accessory {
  height: 60px;
  width: 100px;
  line-height: 60px;
  margin: auto 0;
  font-size: 18px;
}

.accessory-product span {
  line-height: 50px;
}

/* style checkbox  */
.container-checkbox {
  padding-left: 17px;
}

/* css box thanh toán  */
.payment {
  float: right;
  height: 90%;
  width: 33%;
  background-color: #fff;
  font-size: 11px;
  border: solid 2px #000;
  border-radius: 3%;
  margin: 10px;
  overflow-y: scroll;
}

.box-thanh-tien .d-flex {
  justify-content: space-between;
  margin: 4px 0px;
}

.box-thanh-tien {
  justify-content: center;
}

.close-box i {
  float: right;
  margin-right: 10px;
  color: #cc6767;
  font-size: 16px;
  border: solid 1px #000;
  border-radius: 10%;
  cursor: pointer;
}

.unit {
  font-size: 25px;
  font-weight: 700;
}

.choose-product {
  background-color: rgb(151, 197, 213);
  color: black;
}

#addcart-btn {
  width: 430px;
  margin: 4px 17px;
}

#buy-btn {
  border-radius: 5%;
  background-color: #fff;
  width: 100px;
  font-weight: 600;
  margin-left: 70%;
  transition: all 0.4s ease;
}

.table-responsive,
#buy-btn i,
td {
  font-size: 10px;
}

.txt-don-gia {
  height: 20px;
  width: 80px;
  font-size: 8px;
}

.table td {
  padding: 0.25rem;
}

.box-calculate {
  display: flex;
  padding: 8px 20px;
  justify-content: space-between;
  font-weight: 600;
  font-size: 8px;
  width: 220px;
}

.td-stt {
  text-align: center;
  line-height: 5;
}

.row-nameAccessory {
  width: 300px;
}

/* css xử lý zoom */
.zoom {
  width: max-content;
  position: relative;
}
.zoom img {
  width: 500px;
  height: 439px;
}
.imgZoom {
  position: absolute;
  left: 0;
  top: 0;
  --zoom-x: 50%;
  --zoom-y: 50%;
  transform: scale(1.5);
  pointer-events: none;
  clip-path: circle(30px at var(--zoom-x) var(--zoom-y));
  opacity: 0;
}

/* css title sale */

.title-sale {
  font-size: 27px;
  font-weight: 700;
  margin: auto;
  text-align: center;
}

.sale p {
  text-align: center;
  margin-bottom: 0;
}

.amount-color {
  margin-top: 18px;
}

.outstanding {
  font-weight: 700;
}

.item {
  width: 77.3px;
}
